$grey-color: #F7F8F9;
$dark-color: #151515;
$primary-color: #FD4918;

.form-control {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    background: $grey-color;
    border: 1px solid $grey-color;
    color: $dark-color;
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 0 15px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;

    &:hover {
        border-color: $primary-color;
    }

    &:focus {
        border-color: $primary-color;
        box-shadow: none;
    }
}

.form-btn {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
            font-style: normal;
            font-weight: normal;
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            box-sizing: border-box;
            transition: all 0.5s ease-in-out;
            text-decoration: none !important;
            font-family: var(--title-fonts);
            font-size: 16px;
            padding: 12px 45px;
            line-height: 2;
            position: relative;
            width: auto;
            background: $primary-color;
            color: white;
            vertical-align: middle;
            display: inline-block;
            overflow: hidden;
            border-radius: 5px;
            cursor: pointer;

        &:hover {
            background-color: black;
        }
}