body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('/assets/images/test2.jpg') no-repeat;
    background-size: cover; */
    font-family: "Century Gothic" !important;
}
html {
  font-family: "Century Gothic" !important;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(30px); /* Adjust the blur radius as needed */
  z-index: -1;
}

    .flex {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 30px;
       align-items: center;
    }
.col2 {
   background-color: #000; 
   color: white;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
   
}
.fa-brands {
  
color: white;
font-size: 1em ;
cursor: pointer;
text-align: center;
padding: 5px;
transition-timing-function: ease-in-out;
border: 2px solid #fff;
border-radius: 50%;
margin: 10px;
width: auto;

}

.fa-brands:hover {
font-size: 1.1em;
box-shadow: 0px 0px 3px #000;
}


/* Import Google font - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Century Gothic";

}
.wrapper .pass-field {
  height: 35px;
  width: 100%;
  position: relative;
}
.pass-field input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 17px;
  border-radius: 5px;
  border: 1px solid #999;
}

input.form-control:focus, .form-select:focus,  option:hover  {
 
  box-shadow: 0px 0px 5px aqua!important;
}

.pass-field i, .pass-field .eyes{
  right: 18px;
  top: 50%;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}
.wrapper .content {
  margin: 20px 0 10px;
}
.content p {
  color: #333;
  
}
.content .requirement-list {
  margin-top: 20px;
}
.requirement-list li {
  
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.requirement-list li i {
  width: 20px;
  color: #aaa;
  font-size: 0.6rem;
}
.requirement-list li.valid i {
  font-size: 1.2rem;
  color: black;
}
.requirement-list li span {
  margin-left: 12px;
  color: #333;
}
.requirement-list li.valid span {
  color: #999;
}

@media screen and (max-width: 500px) {
  body, .wrapper {
    padding: 15px;
  }
  .wrapper .pass-field {
    height: 55px;
  }
  .pass-field input, .content p  {
    font-size: 1.15rem;
  }
  .pass-field i, .requirement-list li {
    font-size: 1.1rem;
  }
  .requirement-list li span {
    margin-left: 7px;
  }
}
#country option {
  cursor: pointer;
}
.forgot {
  text-decoration: none;
  color: #000;
}
.forgot:hover {
  border-bottom: 2px solid aqua;
  color: black;
}

.form-select {
  cursor: pointer;
}

.icon{
  left: 10px;
  bottom: 20px;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  position: relative;
  transform: translateY(-50%);
}
input {
text-align: center;
}
.btn-light:hover {
  background-color: aqua !important;
}
.btn-outline-dark {
  color: white !important;
  border: 0.5px solid  #fff !important;
}
.btn-outline-dark:hover {
  background-color: aqua !important;
  color: #000 !important;
  border:none !important;
}
.submit {
  border: 1px solid black !important; 
  color: #000
}
.submit:hover {
  color: aqua !important;
  background-color: black !important;
}