.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30.5%;
    border-radius: 5px;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

h3 {
    font-family: sans-serif;
}

h3 span {
    font-size: 16px;
}

.list-group-item {
    display: flex;
    align-items: center;
}

/* TODO: delete */
.list-left {
    text-align: left;
}

.list-group-item {
    border: none;
}

.fas {
    color: #007bff;
}

/* Gap between input and label */
.fas + label {
    margin-left: 20px;
}

.btn-full-w {
    width: 100%;
    padding: 10px;
    border: 2px solid #007bff;
    color: #007bff;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.card-container .card {
    min-width: 350px;
    min-height: 500px;
}

@media (min-width: 992px) {
    .card-container .card:nth-child(2) {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
    }

    .card-container .card:nth-child(2):hover {
        transform: scale(1.15);
    }

    .card-container .card:nth-child(2) h3,
    .card-container .card:nth-child(2) p:nth-child(1) {
        color: #007bff;
    }
}

.card-container .card:nth-child(2) .btn-full-w {
    border: none;
    color: #fff;
    background-color: #007bff;
}

/* TODO Optimize */
/* CSS */
.hero {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 64px);
    overflow: hidden;
    /* border: 5px solid #000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
}

.hero-image {
    width: 100vw;
    /* height: 100%; */
    object-fit: cover;
}

.hero-image img {
    width: 100%;
    height: 350px; /* Set your predefined height here */
    object-fit: cover;
    object-position: calc(30% + 10px) calc(30% + 10px);
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.services-box .box-1 {
    width: 60%;
    height: 100%;
    /* background-color: #007bff; */
    color: #007bff;
    padding: 20px;
}

.services-box .box-1 i {
    font-size: 150px;
}

.services-box .box-2 {
    margin-bottom: 40px;
}

.testimonials {
    padding-top: 10rem;
}

.testimonials-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.testimonials-box .card {
    width: 250px;
}

@media (max-width: 576px) {
    .hero .services-box {
        padding: 0 20px;
    }

    .services-box .box-1,
    .services-box .box-2 {
        width: 100%;
    }

    .services-box .box-2 {
        margin-left: 20px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonials-box {
        align-items: center;
        flex-direction: column;
    }
}

/* FAQ section */
.faq-section {
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.faq-item {
    margin-bottom: 1em;
}

.faq-item input {
    display: none;
}

.faq-item label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-item input:checked ~ .answer {
    max-height: 100px; /* Adjust as needed */
}

/* How To Section */
.how-to-section {
    width: 100%;
    margin-top: 60px;
    padding: 2em 8%;
    background-color: #007bff;
    color: #fff;
}

.how-to-section .section-center {
    text-align: center;
}

.how-to-section .section-center h2,
.how-to-section .section-center p {
    color: #fff;
}

.how-to-section ol {
    list-style-position: inside;
    margin: 2em 0;
}

.how-to-section button {
    padding: 1em 2em;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}

.how-to-section button i {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

/* SLIDER */
.hero-image {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 1s;
    opacity: 0;
}

.slide.active {
    opacity: 1;
    transition: opacity 1s;
}
